html, body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #DBDBDB;
    font-family: 'QuicksandBook', Arial, sans-serif;
    font-size: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p, h1 {
    color: #DBDBDB;
}

h1 {
    text-align: center;
    font-size: 100px;
}

input {
    margin-left: 100px;
    display: block;
}

input[type=button] {
    margin: 20px;
    font-size: 30px;
    width: 150px;
}

#main {
    text-align: center;
}

#footer {
    width: 100%;
    text-align: center;
}

#footer p {
    margin: 0;
    padding: 0;
}
