html, body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #DBDBDB;
    font-family: 'QuicksandBook', Arial, sans-serif;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p, h1 {
    color: #DBDBDB;
}

h1 {
    text-align: center;
    font-size: 50px;
}

input {
    margin-left: 50px;
    display: block;
}

input[type=button] {
    margin-top: 10px;
    width: 75px;
}

#main {
    text-align: center;
}

#footer {
    width: 100%;
    text-align: center;
}

#footer p {
    margin: 0;
    padding: 0;
}
